.outerbox {
    height: 500px;
    width: 500px;
    background-color: black;
    position: relative;
    top: 100px;
    left: 500px;
}

.innerbox {
    background-color: white;
    height: 270px;
    width: 400px;
    position: absolute;
    top: 50px;
    left: 50px;
}

.image {
    position: absolute;
    top: 35px;
    left: 60px;
}

.quote {
    position: absolute;
    bottom: 100px;
    left: 60px;
    color: white;
}

.author {
    position: absolute;
    bottom: 70px;
    right: 60px;
    color: white;
}