* {
    margin: 0;
    padding: 0;
}

body {
    margin-left: 20px;
    padding: 0;
    font-family: "Jim Nightshade", cursive;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/JournalProject/assets/bg2.jpeg') no-repeat center center/cover;
    opacity: 0.9;
    z-index: -1;
}

.main {
    margin: 20px;
    display: inline-block;

}

.nav{
    display: flex;

}

h1 {
    color: bisque;
    font-family: "Festive", cursive;
    letter-spacing: 4px;
    margin-top: 30px;
   
}

.owl {
    height: 100px;
    
}

.pen {
    height: 100px;
    position: fixed;
    right: 20px;
    bottom: 40px;
    cursor: pointer;
    animation: upAndDown 2s ease-in-out infinite;
}

@keyframes upAndDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

}

.logging {
    position: absolute;
    display: none;

}

#logEntry {
    background-image: url(/JournalProject/assets/letter1.jpeg);
    background: url('/JournalProject/assets/letter1.jpeg') no-repeat center center/cover;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 550px;
}

#date {
    padding: 10px;
    margin-top: 20px;
    width: 400px;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: "Cedarville Cursive", cursive;
    font-weight: 100000000000px;
    font-size: 20px;
}

#description {
    padding: 10px;
    margin: 10px;
    width: 400px;
    border: none;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: "Cedarville Cursive", cursive;
    font-weight: 100000000000px;
    font-size: 20px;
}

#date:focus,
#description:focus {
    outline: none;
}

.candle {
    height: 150px;
    position: absolute;
    bottom: 70px;
    left: 400px;
    cursor: pointer;
    animation: upAndDown 2s ease-in-out infinite;
}

.bottles {
    display: flex;
    justify-content: space-between;
    width: 400px;

}

.buttons {
    height: 70px;
    cursor: pointer;
}

.envelope-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.display {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 10px;
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    cursor: pointer;
    color:#d8ba89;
}

.display h2 {
    padding: 0;
    margin: 0;
}

.envelope {
    width: 350px;
}