*{
    background-color: #faf9f6;
    font-family: poppins;
}

.main{
    margin: 20px;
}

.logo{
    width: 400px;
    height: 100px;
}

h1{
    font-size: 78px;
}

.title-image{
    height: 200px;
    width: 200px;
}

.container{
    display: flex;
    
}

.card{
    display: flex;
    
    
}

.box{
    margin-left: 35px;
    margin-right: 35px;
    
}

footer{
    float: right;
}
