*{
    background-color: #faf9f6;
    font-family: poppins;
}

.main{
    margin: 20px;
}

.logo{
    width: 400px;
    height: 100px;
}

h1{
    font-size: 78px;
}

.title-image{
    height: 200px;
    width: 200px;
}

.container{
    display: flex;
    
}

.card{
    display: flex;    
}

.box{
    margin-left: 35px;
    margin-right: 35px;
    
}

footer{
    float: right;
}

@media (min-width:319px) and (max-width:480px) {
    .main{
        margin: 40px;
    }
    .logo{
        width: 170px;
        height: 40px;
    }
    
    h1{
        font-size: 50px;
        text-align: center;
    }

    .title-image{
        width: 100%;
        height: 200px;
    }
    .container{
        flex-direction: column;
    }

    .card{
        flex-direction: column;
    }

    h2{
        font-size: 30px;
        text-align: justify;
        margin-bottom: 15px;
    }
    .box{
        margin: 0px;
    }
    
}